
.hero{
    display: flex;
    flex-direction: column;
}

.bannerContainer{
    position: relative;
}

.bannerImgWrapper{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.bannerImgHome{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.searchBarForm{
    display: flex;
    justify-content: center;
    z-index: 1;
    transform: translateY(-50%);
}

.searchBarContainer{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0.25em;
    background-color: #6665DD;
    color:#ffff;
    width: 35%;
}

.searchBar{
    border:none;
    outline: none;
    width: 100%;
    padding: 0.6em;
    background-color: #6665DD;
    color: #ffff;
}

.searchBar::placeholder{
    color:#ffff;
}

.searchBtn{
    align-self: center;
    border: none;
    margin: 0em 0.5em;
    padding: 0.4em;
    background-color: #6665DD;
}

.searchBtn:hover{
    cursor: pointer;
}